.pl-card:hover {
    background-color: #d6d6d6;
    cursor: pointer;
    box-shadow: 0px 2px 5px #ccc;
}

.pl-card.pl-hided .pl-card-topRight {
    visibility: hidden;

}

.pl-card.pl-hided:hover .pl-card-topRight {
    visibility: visible;
}